.page-top
	position: relative
	.row_no-pad-sm
		.col-sm-12
			+r(992)
				padding: 0
	&__child	
		z-index: 5
		.wrap
			display: inline-block
			padding-top: 1px 
		+r(1170)
			.title-wrap
				h1
					margin-bottom: 24px
					display: block
				.btn
					margin-bottom: 4px
		+r(992)
			position: absolute
			.breadcrumbs__item				
				color: #fff
				border-color: #fff 
				&:before
					+svg(arr-right-small-white,5,10)
				span
					border-color: #fff					
					&:hover
						border-color: rgba(#fff,.5)
						color: rgba(#fff,.5)
					&:active
						border-color: transparent
						color: #FFF 
				&.is-inactive
					span
						&:hover
							border-color: #FFF
							color: #FFF  
						&:active
							border-color: #fff
			h1
				color: #fff
			.btn
				border-color: #fff
				color: #fff
				&:hover
					background-color: rgba(#fff, .5)
					border-color: rgba(#fff, 0)
					color: $title
				&:active
					background-color: #fff
					border-color: #fff
					color: $title
		+r(768)
			top: 0
			right: 0
			left: 0
			height: 360px
			h1
				position: absolute
				top: 108px
				width: 100%
				text-align: center
			.wrap
				position: absolute
				bottom: 15px
				width: 100%
				text-align: center
				margin: auto
				display: inline-block
				left: 0
.photo
	height: 490px
	width: 360px
	overflow: hidden
	position: relative
	+transition(width .3s, height .3s)
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		+g(rgba(#000,.7), rgba(#000,.2))
		z-index: 4
	+r(1170)
		width: 290px
		height: 590px
	+r(992)
		height: 360px
		width: 100%
		margin-bottom: 13px
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background: rgba(217,37,28,.5)
			z-index: 3
	+r(768)
		height: 370px
	img
		height: 100%
		width: auto
		position: absolute
		+transform(translateY(-50%) translateX(-50%))
		top: 50%
		left: 50% 
		+r(992)
			height: auto
			width: 100%
		+r(570)
			height: 100%
			width: auto
.breadcrumbs
	+clr
	margin-top: 29px
	+r(768)
		display: none
	&__item
		float: left
		font-size: 12px
		line-height: 1
		position: relative
		+roboto
		+bold
		color: $head-top		
		+transition(color .2s)
		margin-left: 12px
		&:first-child
			&:before
				display: none
				margin-left: 0 		
		&:before
			content: ""
			position: absolute
			vertical-align: middle
			display: inline-block
			margin: -5px
			left: -3px 
			top: 50%
			+svg(arr-right-small,6,10)

				
		span
			border-bottom: 2px solid transparent
			text-transform: capitalize 
			+tr(border-color .2s)
			&:hover
				border-color: $title
			&:active
				color: $text 
				border-color: transparent 
	
h1
	font-size: 37px 
	+exo
	+semibold
	letter-spacing: 1px
	color: $text
	display: inline-block
	margin-right: 20px
	text-transform: uppercase
	vertical-align: middle 
	+r(768)
		font-size: 20px
		display: block
.marg-foot-50
	margin-bottom: 48px 
.btn
	display: inline-block
	padding: 0 14px
	height: 30px
	font-size: 12px
	text-transform: uppercase
	line-height: 26px
	vertical-align: middle 
	color: $btn-black 
	+exo
	+bold
	border: 2px solid $btn-black
	border-radius: 0 0 10px 0
	background-color: transparent
	+transition(color .2s, border-color .3s, background-color .3s)
	span
		vertical-align: middle
	&:hover
		color: $red
		border-color: $red
	&:active
		border-color: $red-action
		background-color: $red-action
		color: #fff
	&_facebook,
	&_twitter,
	&_vk
		padding: 0 12px
		text-align: center
		color: #fff
		line-height: 22px
		+transition(border-color .2s, background-color .2s, color .2s)
		i
			vertical-align: middle
		text-align: left
	&_twitter
		border-color: $twitter
		background-color: $twitter
		margin-right: 29px
		+r(1170)
			margin-right: 26px
		+r(768)
			margin-right: 28px 
		.count
			min-width: 50px
			+r(1170)
				min-width: 25px 
			+r(992)
				min-width: 50px
			+r(768)
				min-width: 18px 
		i
			margin-right: 13px 
			+svg(twitter-white,20,17)
			+r(1170)
				margin-right: 6px
		&:hover
			background-color: transparent
			color: $twitter
			border-color: $twitter
			.count
				color: $twitter
			i
				+svg(twitter-hover,20,17)
		&:active
			border-color: $twitter-action
			background-color: $twitter-action
			color: #fff
			i
				+svg(twitter-white,20,17)
			.count
				color: #FFF 
	&_facebook
		border-color: $facebook
		background-color: $facebook 
		margin-right: 26px
		+r(1170)
			margin-right: 27px 

		.count
			min-width: 55px
			+r(1170)
				min-width: 27px
			+r(992)
				min-width: 55px 
			+r(768)
				min-width: 18px
		i
			margin-right: 23px 
			+svg(facebook-white,10,17)
			+r(1170)
				margin-right: 17px
			+r(768)
				margin-right: 15px
		&:hover
			background-color: transparent
			color: $facebook
			border-color: $facebook
			.count
				color: $facebook
			i
				+svg(facebook-hover,10,17)
		&:active
			border-color: $facebook-action
			background-color: $facebook-action
			color: #fff
			i
				+svg(facebook-white,10,17)
			.count
				color: #FFF
	&_vk
		border-color: $vk
		background-color: $vk 
		margin-right: 26px
		.count
			min-width: 55px
			+r(1170)
				min-width: 26px
			+r(992)
				min-width: 55px
			+r(768)
				min-width: 16px 
		i
			margin-right: 7px 
			+svg(vk-white,25,15)
			+r(1170)
				margin-right: 3px 
		&:hover
			background-color: transparent
			color: $vk
			border-color: $vk
			.count
				color: $vk
			i
				+svg(vk-hover,25,15)
		&:active
			border-color: $vk-action
			background-color: $vk-action
			color: #fff
			i
				+svg(vk-white,25,15)
			.count
				color: #FFF 
.count
	min-width: 50px
	text-align: right
	display: inline-block
	font-size: 10px
	vertical-align: middle
	color: #fff
	line-height: 25px 
	+bold
	+roboto
	+tr(color .2s)
	+r(1170)
		min-width: 25px 
.title-wrap
	margin: 19px 0 18px
	h1
		vertical-align: middle
	.btn
		vertical-align: middle
	&.plus-marg
		margin-bottom: 24px 
	+r(768)
		text-align: center
		margin-top: 24px
		h1
			margin-bottom: 12px
			margin-right: 0
		.btn
			margin-bottom: 4px
	
.descr
	p
		line-height: 1.7
.share
	margin: 26px 0 7px
	+r(1170)
		margin-top: 28px
	+r(992)
		margin-top: 17px
	+r(768)
		margin-top: 25px
		.btn_vk
			margin-right: 0
		span
			display: none
.name-toggle
	line-height: 1 
	position: relative
	z-index: 3 
	overflow: hidden
	margin-bottom: 4px
	display: block
	+r(768)
		+bold
	i
		float: left
		margin-right: 7px
	span
		overflow: hidden
		text-transform: uppercase
		font-size: 12px 
		+exo
		+semibold
		color: $title
		border-bottom: 2px solid transparent
		+transition(color .2s, border-color .2s)
	&:hover
		span
			border-color: $title
	&:active
		span
			border-color: transparent
			color: $text
		i
			+svg(category, 18,20)
	&.is-active
		span
			border-color: transparent
			color: $text
		i
			+svg(category, 18,20)
.list
	+transform(translateY(-100%))
	height: 0	
	padding-left: 27px
	overflow-y: hidden
	overflow-x: auto
	position: relative
	z-index: 2 
	height: 0
	padding-bottom: 14px
	+transition(transform .7s, height .7s)
	&__item
		overflow-y: auto
		letter-spacing: 0
		margin-bottom: 8px  
		a
			line-height: 1.5
			+roboto
			+bold
			font-size: 12px
			color: $title
			border-bottom: 2px solid transparent
			+transition(border-color .2s, color .2s)
			&:hover
				border-color: $title
			&:active
				border: none
				color: $text	
	&.is-active
		+transform(translateY(0))
		height: 100%
		
.photo-box
	margin-top: 29px
	+clr
	.col-xs-6
		+r(768)
			float: left
	+r(992)
		margin-top: 5px 	
	&__img
		height: 185px
		position: relative
		overflow: hidden
		display: block
		margin-bottom: 30px
		&:after
			content: ""
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			background-color: transparent
			+tr(background-color .2s)
		&:hover
			&:after
				background-color: rgba(217,37,28,.5)
		&:active
			&:after
				background-color: rgba(217,37,28,.3)
		&.is-col-2
			min-width: 165px 
		&.is-col-3
			min-width: 262px
		&.is-col-4
			min-width: 360px 
		&.is-col-6
			min-width: 556px
		&.is-col-8
			min-width: 750px
		&.is-col-md-2
			+r(1200)
				min-width: 133px
		&.is-col-md-3
			+r(1200)
				min-width: 212px
		&.is-col-md-4
			+r(1200)
				min-width: 293px
		&.is-col-md-5
			+r(1200)
				min-width: 380px
		&.is-col-md-8
			+r(1200)
				min-width: 617px	
		&.is-col-sm-3
			+r(992)
				min-width: 160px		
		&.is-col-sm-5
			+r(992)
				min-width: 283px 		
		&.is-col-sm-6
			+r(992)
				min-width: 348px		
		&.is-col-sm-7
			+r(992)
				min-width: 407px
		&.is-col-xs-6
			+r(768)
				min-width: 131px
				height: 184px
			+r(625)
				img
					height: 100%
					width: auto 
		&.is-col-xs-12
			+r(768)
				min-width: 290px
				height: 185px	

		img
			height: 100%
			width: auto
			position: absolute
			top: 50%
			left: 50%
			+transform(translateY(-50%) translateX(-50%))  

		
			