$bg: #f3f3f3
$footer: #dedede
$head-top: #212121
$title: #212121
$text: #535353
$red: #d9251c
$red-hover: #a2241d
$red-action: #f71b10
$icon-hover: #bdbdbd
$icon-action: #909090
=reg
	font-weight: 400 
=light
	font-weight: 300
=bold
	font-weight: 700
=semibold
	font-weight: 600
=ubold
	font-weight: 900
=ulight
	font-weight: 100
=med
	font-weight: 500	

=rubl
	font-family: ALSRubl, Arial, sans-serif
=exo
	font-family: 'Exo 2', Arial, sans-serif
	letter-spacing: 1px  
=roboto
	font-family: 'Roboto', Tahoma, sans-serif