html
  font-size: 62.5%

body
  min-width: 320px
  background: #fff
  font-size: 1.6rem
  line-height: 1.3
  color: $text
  +font
  +reg

.out
  padding: 3.5rem 0

.l-center
  margin: 0 auto
  padding: 0 3rem
  max-width: 100rem

.rate-wrap
  margin: 3rem 0 4rem

.rate-inline
  display: inline-block
  vertical-align: middle
  .rate
    margin-right: 2rem

.rate
  &__item
    display: inline-block
    vertical-align: middle
    cursor: pointer
    input
      display: none
    img
      display: block
    &.is-hidden-image
      .rate__alt,
      input
        display: block
      img
        display: none
  &__alt
    display: none

.progress-wrap
  margin-bottom: 2.8rem

.progress
  max-width: 21rem
  progress
    display: none
  &__bar
    position: relative
    display: flex
    align-items: center
    justify-content: center
    height: 1.3rem
    box-shadow: inset 0 1px 3px rgba(#000, 0.29)
    +round
    +second-font
    background: #fff
  &__value
    position: absolute
    left: 0
    top: 0
    bottom: 0
    +round
    background-image: linear-gradient(to top, #28bf14 0%, #8bda1a 14%, #28bf14 49%, #abff58 100%)
  &__counter
    font-size: .9rem
    font-weight: 400

.btn
  position: relative
  display: inline-block
  vertical-align: middle
  padding: 1px
  line-height: 1
  +round
  text-decoration: none
  background-image: linear-gradient(to top, #a8a8a8, #e5e5e5)
  span
    display: block
    padding: .3rem 2rem .4rem
    +second-font
    border-radius: 4px
    text-shadow: 0 0.1rem 0 rgba(255, 255, 255, 0.75)
    color: #000
    font-size: 1.1rem
    background-image: linear-gradient(to top, #e2e2e2, #f2f2f2)
  &:focus
    box-shadow: 0 0 0.4rem rgba(0, 35, 214, 0.94)
  &:hover
    background-image: linear-gradient(to top, #6f6f6f, #cecece)
    span
      background-image: linear-gradient(to top, #fdffcc, #feffeb)
  &:active
    background-image: linear-gradient(to top, #cecece, #a6a6a6)
    box-shadow: none
    span
      background: #cecece
  &[disabled],
  &.is-disabled
    pointer-events: none
    cursor: not-allowed
    opacity: .5
    background-image: linear-gradient(to top, #a8a8a8, #e5e5e5)
    span
      background-image: linear-gradient(to top, #e2e2e2, #f2f2f2)

input.btn
  border: 1px solid
  border-color: #e5e5e5 #c6c6c6 #a8a8a8 #c6c6c6
  padding: .3rem 2.2rem .4rem
  background-image: linear-gradient(to top, #e2e2e2, #f2f2f2)
  &:hover
    border-bottom-color: #6f6f6f
    background-image: linear-gradient(to top, #fdffcc, #feffeb)
  &:active
    background: #cecece
    box-shadow: none
  &[disabled],
  &.is-disabled
    background-image: linear-gradient(to top, #e2e2e2, #f2f2f2)




.browser
  margin: 6rem 0
  +clr
  &__item
    position: relative
    margin-bottom: 1rem
    float: left
    width: 12.3rem
    height: 12.3rem
    text-align: center
    &:last-child
      &:not(:first-child)
        float: right
    &.is-hidden-image,
    &.is-broken
      img
        display: none
      .browser__alt
        display: block
    &.is-loaded
      img
        display: block
      .browser__alt
        display: none
    img
      display: block
      margin: 0 auto
      max-width: 100%
      max-height: 100%
  &__alt
    display: none
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    +third-font
    &_chrome
      color: #f9d411
      span
        &:first-child
          color: #22a12a
        &:nth-child(2)
          color: #c90000
    &_firefox
      color: #f2a414
    &_opera
      color: #c10e0e
    &_safari
      color: #646464
    &_explorer
      color: #036da3

.article
  &__cols
    column-count: 2
    column-gap: 9rem
    +r(1023)
      column-count: 1
  &__title
    max-width: 40%
    +r(1023)
      max-width: 100%
  h1, h2, h3, h4, h5, h6
    margin: 0 0 2.2rem
    font-weight: normal
    color: $title
    line-height: 1
  h1
    font-size: 2.6rem
  h2
    font-size: 2.4rem
  h3
    font-size: 2.2rem
  h4
    font-size: 2rem
  h5
    font-size: 1.8rem
  h6
    font-size: 1.6rem
  p
    margin-bottom: 2.2rem
    &:first-letter
      padding-left: 1.6rem
  a
    color: $link
    &:hover
      color: $linkHover
    &[onClick]
      border-bottom: 1px dashed
      color: $meta
      text-decoration: none
      &:hover
        color: $linkHover
  ul
    li
      position: relative
      &:before
        content: '—'
        position: absolute
        left: -1.8rem
        top: 0
        color: #858585