.header
	position: fixed
	top: 0
	right: 0
	left: 0
	z-index: 10
	+gpu
	min-width: 1200px
	&__top
		position: relative
		z-index: 2
		height: 86px
		line-height: 86px
		border-bottom: 1px solid $border_d 
		background: #fff 
	&__logo
		position: absolute
		left: 10px
		top: 34px
		+hide-text
		+svg(logo,229,22)
	&__main
		text-align: right
		padding-left: 250px
		font-size: 0
	&__nav
		display: inline-block
		vertical-align: middle
		+light
		> li
			display: inline-block
			vertical-align: middle
			margin-left: 56px
			font-size: 17px
			+r(1366)
				margin-left: 30px
			&:first-child
				margin-left: 0
			&.is-active
				a
					&:after
						content: ""
						position: absolute
						left: 0
						right: 0
						bottom: 0
						height: 5px
						background: $primary 
			&.has-dropdown
				> a
					padding: 0 16px 
					&:before
						content: "\e60e" 
						+icon
						position: absolute
						right: 0
						top: 50%
						font-size: 5px
						color: #c0c0c0 
						transition: color .3s
			&:hover
				> a
					color: $primary 
					&:before
						color: $primary 
			a
				display: block
				position: relative
				color: #464646 
				transition: color .3s
				&:hover
					color: $primary  
					
			li
				transition: background .3s
	&__search
		display: inline-block
		vertical-align: middle
		position: relative
		top: -4px
		margin-left: 42px
		width: 50px
		height: 50px
		background: none
		+icon
		color: #808080 
		font-size: 18px
		border-radius: 50% 
		+tr(color .3s)
		+r(1366)
			margin-left: 25px
		&:hover,
		&.is-active
			color: $primary 
		&:before
			content: "\e609"
			
			vertical-align: middle 
	
	&__links
		display: inline-block
		margin-left: 43px
		vertical-align: middle
		font-size: 0
		+r(1366)
			margin-left: 25px
		li
			display: inline-block
			vertical-align: middle
			margin-left: 62px 
			+r(1366)
				margin-left: 20px
			&:first-child
				margin-left: 0
			&.is-marked
				a
					color: $primary
					+bold
					&:hover
						color: $primary_h 
		a
			display: block
			font-size: 15px
			+reg
			color: #898989
			&:hover
				color: $primary
				+tr(color .3s)
				

.search
	position: absolute
	top: 100%
	left: 0
	right: 0
	background: #fff 
	padding: 10px 0 
	transform: translate3d(0,-100%,0)
	+tr(transform .3s)
	&.is-active
		transform: translate3d(0,0,0)