$text: #000
$link: #0070ed
$linkHover: #f00
$meta: #353434
$title: #333

=font
  font-family: 'PT Sans', sans-serif

=second-font
  font-family: Verdana, Arial, Helvetica, sans-serif

=third-font
  font-family: Arial, Helvetica, sans-serif

=reg
  font-weight: 400

=round
  border-radius: 0.5rem