<article class="article">
    <h1 class="article__title">Тема: «Ars longa, vita brevis»</h1>
    <div class="article__cols">
        <p>"Век живи, век учись" - именно такой девиз справедлив для IT сферы в целом и особенно для front-end разработки, где смена технологий, приемов и методов невероятно быстрая. Каждый день можно узнавать что-то новое, становится лучшей копией самого себя.</p>
        <p>Профессия которая приносит счастье. Счастье которое дарует свободу. Свободу мысли, свободу путешествий, свободу выбора. О чем еще можно мечтать?</p>
    </div>
</article>