<ul class="browser js-images-loaded">
    <li class="browser__item">
        <img src="./img/chrome.png" alt="Chrome">
        <span class="browser__alt browser__alt_chrome">
            <span>Ch</span><span>ro</span>me
        </span>
    </li>
    <li class="browser__item">
        <img src="./img/firefox.png" alt="Firefox">
        <span class="browser__alt browser__alt_firefox">Firefox</span>
    </li>
    <li class="browser__item">
        <img src="./img/opera.png" alt="Opera">
        <span class="browser__alt browser__alt_opera">Opera</span>
    </li>
    <li class="browser__item">
        <img src="./img/safari.png" alt="Safari">
        <span class="browser__alt browser__alt_safari">Safari</span>
    </li>
    <li class="browser__item">
        <img src="./img/explorer.png" alt="Internet Explorer">
        <span class="browser__alt browser__alt_explorer">Internet Explorer</span>
    </li>
</ul>


