<div class="rate-wrap">
    <div class="rate-inline js-rate js-images-loaded" data-value="3"></div>
    <div class="rate-inline js-rate js-images-loaded"></div>

</div>
<div class="rate-wrap">
    <div class="rate-inline js-rate-big js-images-loaded"></div>
</div>
<div class="progress-wrap">
    <div class="progress">
        <div class="progress__bar">
            <progress max="100" value="20"></progress>
            <span class="progress__value" style="width: 20%"></span>
            <span class="progress__counter">20%</span>
        </div>
    </div>
</div>
<div class="btn-wrap">
    <a class="btn" href="#"><span>Кнопка</span></a>
    <button class="btn" type="button"><span>Кнопка</span></button>
    <input class="btn" type="submit" value="Кнопка"> <!-- old school -->
    <a class="btn is-disabled" href="#"><span>Кнопка disabled</span></a>
    <button class="btn" type="button" disabled><span>Кнопка disabled</span></button>
</div>
