<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<a href="#" class="footer__logo">Engwow</a>
				<div class="social">
					<a href="#" class="social__fb"><i class="icon-facebook"></i></a>
					<a href="#" class="social__tw"><i class="icon-twitter"></i></a>
					<a href="#" class="social__go"><i class="icon-google"></i></a>
					<a href="#" class="social__ln"><i class="icon-linkedin"></i></a>
					<a href="#" class="social__yt"><i class="icon-youtube"></i></a>
					<a href="#" class="social__vk"><i class="icon-vkontakte"></i></a>
				</div>
				<ul class="footer__nav">
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Library</a></li>
					<li><a href="#">Help</a></li>
					<li><a href="#">Pricing</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Press</a></li>
				</ul>
				<div class="footer__meta">
					<span>© 2015 EngWow. All rights reserved</span>
					<a href="#">Terms of Use</a>
					<a href="#">Privacy Policy</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="js/main.js"></script>