<div class="header">
	<div class="header__top">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<a href="#" class="header__logo">Engwow</a>
					<div class="header__main">
						<ul class="header__nav">
							<li><a href="#">Home</a></li>
							<li><a href="#">Sample Course</a></li>
							<li class="has-dropdown">
								<a class="dropdown-button" href="#" data-activates='dropdown1'>Library</a>
								<!-- Dropdown Structure -->
								<ul id='dropdown1' class='dropdown-content'>
									<li><a href="#">Oxford Dictionaries</a></li>
									<li><a href="#">William Shakespeare</a></li>
									<li class="divider"></li>
									<li><a href="#">All books</a></li>
								</ul>
							</li>
							<li><a href="#">Pricing</a></li>
							<li class="is-active"><a href="#">Blog</a></li>
						</ul>
						<button class="header__search waves-effect waves-dark waves-circle js-search-trigger" type="button"></button>
						<ul class="header__links">
							<li class="is-marked"><a href="#">SIGN UP</a></li>
							<li><a href="#">LOGIN</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="search js-search">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<form>
						<input type="text" class="input" placeholder="Search...">
						<input type="submit" hidden>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>